@media(min-width: 768px) {
  header {
    h1, h2, h3, h4, h5, h6 {
      max-width: 55%;
    }
  }

  ul.actions {
    position: absolute;
    bottom: -2px;
    right: 2px;
    max-width: 45%;
    text-align: right;
  }
}

@media(max-width: 360px) {
  input#search {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
}

@media(max-width: 480px) {
  ul.actions .form-inline {
    padding-bottom: 5px;
  }
}
